    .jumbotron {
        border-radius: 0px;
        height: 300px;
        background-size: cover;
        background-image: url('https://cdn.pixabay.com/photo/2019/06/02/00/46/chapel-4245437_960_720.jpg');
    }